body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:black;
    color:black;
    font-family: 'Coiny', cursive;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color:white;
    font-family: 'Coiny', cursive;
}
#header1 {
    color:black;
    background-color:white;
    font-family: 'Coiny', cursive;
    text-align:left;
}
#chatters{
    color:black;
    /*background-color:white;*/
    font-family: 'Coiny', cursive;
    text-align:left;
    padding:25px;
}
#chitty {
    color:black;
    /*background-color:white;*/
    font-family: 'Coiny', cursive;
    text-align:center;
}
#username{
    color:black;
    font-family: 'Coiny', cursive;
    text-align:left;
}
.thumbnail {
    padding:25px;
    background-color:aqua;
}

.navbar-inverse .navbar-brand {
    color: aqua;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*WeCabCodeIT logo colors*/
#spanOne {
    /*We*/
    color: #d8005c;
}
#spanTwo {
    /*Can*/
    color: #50B735;
}
#spanThree {
    /*{Code}*/
    color: #429fd7;
}
#spanFour {
    /*IT*/
    color: #f15d00;
}
/*Font change in footer*/
#fontChange {
    
    font-family: 'Coiny', cursive;
}
#dateRight {
    margin: 15px;
    float: right;
}
/*Chnage Jumbotron background to white*/
.jumbotron {
    background-color:white;
}
.navbar-inverse .navbar-nav > li > a {
    color: aqua;
}