@{
    ViewBag.Title = "About ChitChatter Application";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>This Application was create by Sarah Kaminski and Kurt Weber to view User ChitChats</p>
