@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    <span id="fontChange"><span id="spanOne">We</span><span id="spanTwo">Can</span><span id="spanThree">{Code}</span><span id="spanFour">IT</span></span><br />
    50 Public Square #200<br />
    Cleveland, OH 44113<br />
</address>

<address>
    <strong>Sarah Kaminski:</strong>    <a href="mailto:sarahe.kaminski@gmail.com">sarahe.kaminski@gmail.com</a><br />
    <strong>Kurt Weber:</strong>    <a href="mailto:Weberkrt@msn.com">weberkrt@msn.com</a>
</address>